@model CartItem

<h1>@Model.Dish.Name</h1>

<div class="dish-image-container">
    <div class="dish-image" style="background-image: url(@Model.Dish.ImageURL);"></div>
</div>

@using (Html.BeginForm("CustomizeDish", "Home", new { Model }, FormMethod.Post, null, new { @class = "customize-dish-form" }))
{
    @Html.HiddenFor(x => x.Dish.DishId)

    <div class="extras-container">
        @foreach (var extra in Model.AvailableExtras)
            {
                var imageURL = Model.Dish.DishExtras.Where(x => x.Extra.ExtraId == int.Parse(extra.Value)).First().Extra.ImageURL;
                var price = Model.Dish.DishExtras.Where(x => x.Extra.ExtraId == int.Parse(extra.Value)).First().Extra.Price;

                <div class="extra">
                <input class="extra__checkbox" type="checkbox" name="SelectedExtras" value="@extra.Value" style="background-image: url(@imageURL");" />
                <h3 class="extra__heading">@extra.Text</h3>
                <p class="extra__price">@price kr</p>
            </div>
        }
    </div>

    <input class="customize-dish-form__submit" type="submit" value="Lägg i korgen" />
}
