@model PayViewModel

<h1>@ViewData["CurrentPage"]</h1>

@using (Html.BeginForm("Pay", "Payment", new { Model }, FormMethod.Post, null, new { @class = "billing-information-form" }))
{
    <div>
        @Html.LabelFor(x => x.FullName)
        @Html.TextBoxFor(x => x.FullName)
    </div>

    <div>
        @Html.LabelFor(x => x.StreetAddress)
        @Html.TextBoxFor(x => x.StreetAddress)
    </div>

    <div>
        @Html.LabelFor(x => x.PostalCode)
        @Html.TextBoxFor(x => x.PostalCode)
    </div>

    <div>
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber)
    </div>

    <div>
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
    </div>

    <input type="submit" value="Beställ" />
}
