@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>




    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>@ViewData["CurrentPage"]</title>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

        <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/main-menu.css" />
        <link rel="stylesheet" href="~/css/cart-link.css" />
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/dish.css" />
        <link rel="stylesheet" href="~/css/customize-dish.css" />

    </head>




    <body>

        @Html.Partial("_MainMenu")

        @if ((int)ViewData["CartItems"] > 0 && (string  )ViewData["CurrentPage"] != "Cart")
        {
            @Html.Partial("_CartLink")
        }

        @if (SignInManager.IsSignedIn(User))
        {
            <p class="user">
                <i class="material-icons user__icon">person</i>
                <span class="user__username">@UserManager.GetUserName(User)</span>
            </p>
        }

        <main>
            @RenderBody()
        </main>

        <script src="~/js/mainMenu.js"></script>

    </body>




</html>
